 # Reading data from SQL databases

Pandas allows to read data from a sql database simply by using pd.read_sql . It automatically converts the data columns into data frame column names. 

read_sql takes 2 arguments: a SELECT statement, and a database connection object. This is great because it means you can read from any kind of SQL database -- it doesn't matter if it's MySQL, SQLite, PostgreSQL, or something else.

This example reads from a SQLite database, but any other database would work the same way.

In [4]:
import sqlite3
import pandas as pd

In [5]:
con = sqlite3.connect("data/weather_2012.sqlite")

In [6]:
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con)
df.head()

   id            date_time  temp
0   1  2012-01-01 00:00:00  -1.8
1   2  2012-01-01 01:00:00  -1.8
2   3  2012-01-01 02:00:00  -1.8

read_sql doesnot automatically set the index. So to explicitly set the index to id use index_col = 'id'

In [7]:
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con, index_col='id')
df.head()

              date_time  temp
id
1   2012-01-01 00:00:00  -1.8
2   2012-01-01 01:00:00  -1.8
3   2012-01-01 02:00:00  -1.8

# Writing to SQLite database

Pandas has a write_frame function which creates a database table from a dataframe. Right now this only works for SQLite databases. Let's use it to move our 2012 weather data into SQL.

You'll notice that this function is in pd.io.sql. There are a ton of useful functions for reading and writing various kind of data in pd.io, and it's worth spending some time exploring them

In [9]:
weather_df = pd.read_csv('data/weather_2012.csv')
con = sqlite3.connect("data/test_db.sqlite")
con.execute("DROP TABLE IF EXISTS weather_2012")
weather_df.to_sql("weather_2012", con)

C:\Users\Anurima\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

We can now read from the weather_2012 table in test_db.sqlite, and we see that we get the same data back:

In [14]:
con = sqlite3.connect("data/test_db.sqlite")
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con, 
                 index_col = 'index')
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
index,,,,,,,,
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

The nice thing about having your data in a database is that you can do arbitrary SQL queries. This is cool especially if you're more familiar with SQL. Here's an example of sorting by the Weather column:

In [15]:
con = sqlite3.connect("data/test_db.sqlite")
df = pd.read_sql("SELECT * from weather_2012 ORDER BY Weather LIMIT 3", con)
df.head

<bound method NDFrame.head of    index            Date/Time  Temp (C)  Dew Point Temp (C)  Rel Hum (%)  \
0     67  2012-01-03 19:00:00     -16.9               -24.8           50
1    114  2012-01-05 18:00:00      -7.1               -14.4           56
2    115  2012-01-05 19:00:00      -9.2               -15.4           61

   Wind Spd (km/h)  Visibility (km)  Stn Press (kPa) Weather
0               24             25.0           101.74   Clear
1               11             25.0           100.71   Clear
2                7             25.0           100.80   Clear  >

If you have a PostgreSQL database or MySQL database, reading from it works exactly the same way as reading from a SQLite database. You create a connection using psycopg2.connect() or MySQLdb.connect(), and then use

pd.read_sql("SELECT whatever from your_table", con)